@font-face {
    font-family: 'badaboom_bbregular';
    src: url('./fonts/badaboom-bb.regular-webfont.woff2') format('woff2'),    
    url('./fonts/badaboom-bb.regular-webfont.woff') format('woff');   
    font-weight: normal;
    font-style: normal; 
}

body {
    font-family: 'badaboom_bbregular', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

a {
    color: inherit;
}

/* Common Styles ========= */
  .shadow {
    text-shadow: 1px 1px #000000;
  }

/* Navigation Styles ========== */

  #nav {
      width: 100%;
      height: 64px;
      background-color: #003E6F;
      border-bottom: 2px black solid;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
  }

  #home-link {
      grid-column: 1/2;
      grid-row: 1/2;
      min-width: 20%;
      text-decoration: none;
      margin-left: 20px;
  }

  #nav-links {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0px 20px 0px 20px;
  }

  .nav-link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .nav-link:hover {
      text-decoration: underline;
  }

  #home-link-text {
    width: 42px;
    text-align: center;
    padding-right: 2px;
    border: 3px solid white;
  }

  .red-text-box {
    color: white;
    background-color: #FF0000;
  }



/* HomePage Styles ========== */

#home {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns:  2fr auto 1fr 1fr;
    width: 100%;
    height: auto;
} 

#home-heading {
    grid-column: 2/3;
    grid-row: 1/2;
    height: auto;
    align-self: center;
    padding: 5px 10px 5px 10px;
    border: 3px solid black;
    z-index: 1;
    text-align: center;
}

#headshot {
    grid-column: 1/5;
    grid-row: 1/4;
    background-color: pink;
    background: url(images/headshot.png) no-repeat; 
    background-size: contain;
    background-position: center;
    margin: 30px 0px 0px -50px;
}

#home-subheading {
    grid-column: 1/4;
    grid-row: 3/4;
    border-width: 2px 2px 2px 0px;
    border-color: black;
    border-style: solid;
    padding: 5px 10px 5px 20px;
    display: flex;
    align-self: center;
}


#burst-background {
    grid-column: 1/5;
    grid-row: 1/6;
    z-index: -2;
    
}

/* Social Icon Styles ========== */

#social-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #FA7D16;
    grid-column: 1/5;
    grid-row: 4/5;
    justify-self: center;
    padding: 20px;
}

i {
    font-size: 40px;
}

.social-text {
    font-size: 12px;
    text-align: center;
}

a.social-links {
    text-decoration: none;
}


/* Footer Styles ========== */

#footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 67px;
    background-color: #003E6F;
    border-top: 2px black solid;
    color: white;
}

#footer-text {
    margin: 0px 20px 0px 20px;
}

/* Card Styles ========== */
.card {
    border-radius: 16px;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    margin: 10px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -ms-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 2;    
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* additional styles for animation inline */
.card-header {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    z-index: 2;
    background-color: white;
}

.card-title {
    color: white;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    padding: 10px 20px;
}

.close-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end; 
    cursor: pointer;
}

.close-path {
    fill: white;
}

.card-subtitle {
    color: white;
    align-self: end;
    padding: 10px 20px;
    z-index: 2;
}

.content {
    padding: 20px;
}

.card-title-bg {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgb(54, 54, 54), rgba(0,0,0,0)) ;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .blur {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

/* Media Queries ========== */

  /* Home Screen ========== */
  @media only screen and (min-width: 700px) {

    #home-link {
      grid-column: 2/3;
    }

    #home-subheading {
        grid-column: 1/5;
        justify-self: center;
        border-width: 2px;
        padding-right: 20px;
    }
    
    #social-icons {
        justify-content: center;
    }

    .social-links {
        padding: 20px;
    }

    
   
  }